/* Component container */
.bg-black {
  background-color: #0d1117;
}

.text-white {
  color: white;
}

.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/* Heading style */
.heading {
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid white;
  padding: 0.5rem;
}

.topmost-container {
  max-width: 95%; /* Adjust as needed */
  margin: 0 auto; /* Center the container horizontally */
  border: 1px solid white;
  padding: 1rem; /* Adjust padding as needed */
}


/* List container */
.list-container {
  border: 1px solid white;
  padding: 1rem;
  width: 500px;
}

/* List items */
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Input */
.input {
  flex: 1;
  margin-right: 1rem;
}

/* Button */
.button {
  background-color: white;
  color: black;
}

/* Arrow left icon */
.arrow-left-icon {
  width: 24px;
  height: 24px;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Check icon */
.check-icon {
  width: 24px;
  height: 24px;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
